<div class="list row">
  <!--<div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Nom de la Tache"
        [(ngModel)]="title"
      />
      <div class="input-group-append">
        <button
          class="btn btn-primary"
          (click)="searchTitle()"
        >
          Chercher
        </button>
      </div>
    </div>
  </div> -->

<div class="Partie2">Drag and Drop - Partie 2</div>

<div cdkDropListGroup>
  <div class="ToutesLesTaches">
  <div class="example-container">
    <div class="Titre_Taches"><h1>Liste de Taches "Non Défini"</h1></div>
    <button id="buttonAjoutTache" routerLink="../add" class="btn btn-primary" value="Ajouter">Ajouter une tache</button>
    <ul class="list-group">
      <div
        cdkDropList
        [cdkDropListData]="undefinedd"
        (cdkDropListDropped)="drop($event, 'undefinedd')"
      >
        <div class="example-list">
          <div class="example-box" *ngFor="let Tache of undefinedd; let i = index" [class.active]="i == currentIndex" (click)="setActiveTache(Tache, i)" cdkDrag>{{Tache.title}}
            <button class="btn btn-outline-secondary e" (click)="deleteTache(Tache.id)">Supprimer</button></div>
        </div>
      </div>
    </ul>

    <br>
  </div>







    <div class="example-container">
      <div class="Titre_Taches"><h1>Liste de Taches "En Cours"</h1></div>
      <button id="buttonAjoutTache" routerLink="../add" class="btn btn-primary" value="Ajouter">Ajouter une tache</button>
      <ul class="list-group">
        <div
          cdkDropList
          [cdkDropListData]="undergoing"
          (cdkDropListDropped)="drop($event, 'undergoing')"
        >
          <div class="example-list">
            <div class="example-box" *ngFor="let Tache of undergoing; let i = index" [class.active]="i == currentIndex" (click)="setActiveTache(Tache, i)" cdkDrag>{{Tache.title}}
              <button class="btn btn-outline-secondary e" (click)="deleteTache(Tache.id)">Supprimer</button></div>
          </div>
        </div>
      </ul>

      <br>
    </div>










    <div class="example-container">
      <div class="Titre_Taches"><h1>Liste de Taches "En Attente"</h1></div>
      <button id="buttonAjoutTache" routerLink="../add" class="btn btn-primary" value="Ajouter">Ajouter une tache</button>
      <ul class="list-group">
        <div
          cdkDropList
          [cdkDropListData]="pending"
          (cdkDropListDropped)="drop($event, 'pending')"
        >
          <div class="example-list">
            <div class="example-box" *ngFor="let Tache of pending; let i = index" [class.active]="i == currentIndex" (click)="setActiveTache(Tache, i)" cdkDrag>{{Tache.title}}
              <button class="btn btn-outline-secondary e" (click)="deleteTache(Tache.id)">Supprimer</button></div>
          </div>
        </div>
      </ul>

      <br>
    </div>








    <div class="example-container">
      <div class="Titre_Taches"><h1>Liste de Taches "Terminées"</h1></div>
      <button id="buttonAjoutTache" routerLink="../add" class="btn btn-primary" value="Ajouter">Ajouter une tache</button>
      <ul class="list-group">
        <div
          cdkDropList
          [cdkDropListData]="done"
          (cdkDropListDropped)="drop($event, 'done')"
        >
          <div class="example-list">
            <div class="example-box" *ngFor="let Tache of done; let i = index" [class.active]="i == currentIndex" (click)="setActiveTache(Tache, i)" cdkDrag>{{Tache.title}}
              <button class="btn btn-outline-secondary e" (click)="deleteTache(Tache.id)">Supprimer</button></div>
          </div>
        </div>
      </ul>
      <br>
    </div>
  </div>
</div>











<div class="Fenetre_Edit">
  <button class="btn btn-outline-secondary m-1" (click)="removeAllTaches()">
    Toutes les Supprimer
  </button>
  <div class="col-md-6">
    <app-Tache-details
      [viewMode]="true"
      [currentTache]="currentTache"
    ></app-Tache-details>
  </div>
  <div class="col-md-6">
    <app-test
    ></app-test>
</div>
</div>

</div> 