.Entete > div > h1{
    display : flex;
    justify-content: center;
    margin-bottom : 30px;
    font-size: 60px;
}

.Header{
    display: flex;
    justify-content: center;
}

.btn.btn-outline-secondary{
    margin-left : 10px;
    margin-top: 20px;
    height: 50px;
}

.container-fluid.d-flex.justify-content-center > div{
    margin : 3%;
}

.btn.btn-outline-secondary.m-1{
    color:red;
    border-color: red;
}

.taches {
    display : flex;
    flex-direction: row;
    text-align: center;
}

label{
    width : 150px;
    margin-top : 4%;
    margin-left : 3%;
    display: flex;
    justify-content: center;
}
